body{
    background-color: rgba(34, 201, 181, 0.5);
    color: rgb(197, 243, 159);
    font-family: Playwrite Hrvatska Lijeva;
}
section{
    background-color: rgb(188, 12, 204);
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}
.chamada-texto{
    margin-right: 40px;
}
h1{
    font-size: 30px;
}
p{
    font-size: 30px;
}
header{
    font-size: 30px;
    padding-left: 20px;
}
img{
    height: 200px;
}
.chamada{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    background-color: rgb(116, 8, 8);
}
.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
h2{
    font-size: 30px;
}